.myButton {
    width: fit-content;
    background-color: var(--btnBgColor);
    border: none;
    border-radius: 30px;
    color: var(--mainColor);
    padding: 0.6em 1.8em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: larger;
    font-weight: 500;
}

.myButton:hover {
    background-color: var(--btnBgHover);
}