.myButton {
    background-color:  #ffbe33;
    border: none;
    border-radius: 30px;
    color: white;
    padding: 0.8em 1.8em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    font-size: larger;
    font-weight: 600;
}

.myButton:hover {
    background-color: #e69c00;
}