.card {
    margin-top: 2em ;
    background-color: rgb(41, 39, 59);
    display: flex;
    flex-direction: column;
    padding: 1em 5em;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.image {
    border-radius: 50%;
    border: 6px solid rgb(255, 208, 0);
    overflow: hidden;
    height: 12em;
    width: 12em;
    margin-bottom: 0.8em;
}

.promoText {
    margin-bottom: 1em;
}

.title{
 font-size: x-large;
 font-weight: 700;
}

.reduction {
    font-size: xx-large;
    font-weight: 700;
}

.text {
    font-size: large;
    font-weight: 600;
}