.carouselContainer {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    overflow: hidden;
    height: 600px;
    margin-top: 3em;
}

.carouselPage {
    flex: 0 0 100%;
    display: flex;
    scroll-snap-align: start;
    padding: 0  1em;
}



.bigText {
    font-size: 3.5em;
    font-weight: 700;
}

.paraText {
    margin: 1em 0;
    font-size: 1.1em;
    padding: 0 1em;
}

.pointContainer {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 1em;
}

.point {
    background-color: #ffffff;
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.active {
    background-color: #ffbe33;
    height: 1.5em;
    width: 1.5em;
}

.cmdBtn {
    margin-top: 2em;
    background-color:  #ffbe33;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: x-large;
    font-weight: 600;
    padding: .5em 2em;
}






@media only screen and (min-width: 568px) {
    .paraText {
        max-width: 50%;
    }
} 